pdf2image
pytesseract
pymupdf4llm
langchain
langchain-openai
openai
langchain-ollama
langchain-text-splitters
langchain-community
faiss-cpu
langgraph
fuzzywuzzy
autocorrect
spellchecker
pyspellchecker
jupyterlab
langsmith